body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
    position: sticky;
    box-shadow: 0 15px  15px rgb(5, 48, 83);
    background-color: rgb(44, 143, 224);
    top: 0;
    z-index: 10000;
    color:antiquewhite
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    margin: 0 auto;
    max-width: 1200px;
}

.nav-logo img {
    width: 200px;
    height: auto;
}

.nav-menu {
    display: flex;
    gap: 16px;
    list-style: none;
    flex-wrap: wrap;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 1em;
}

.nav.link:hover {
    color: #ffffff22;
    font-weight: bold;
}