body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: sticky;
    box-shadow: 0 15px 15px  rgba(247, 230, 77, 0.979);
    background-color: rgb(73, 155, 223);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    margin: 0 auto;
    max-width: 1200px;
    flex-wrap: wrap;
}

.nav-logo img {
    width: 200px;
    height: auto;
}

.nav-menu {
    display: flex;
    gap: 16px;
    list-style: none;
    flex-wrap: wrap;
}

.pokemon-card {
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    float: left;
    padding: 50px;
    margin: 0;
}

.trainer-card {
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    float: left;
    padding: 70px;
    margin: 0;

}

.nav-link {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 10px;
}

.nav-link:hover {
    color: #ffffff;
    font-weight: bold;
}
@media screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: start;
        padding: 16px;
    }

    .nav-logo img {
        width: 100%;
        height: auto;
    }

    .nav-menu {
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }

    .nav-item {
        padding: 12px;
        width: 100%;
    }
}